.pagging {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include adaptiveValue("gap", 30, 15, 1);

  &__arrow {
    &::before {
      font-size: rem(20);
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.12);
    }
  }

  &__arrow-left {
    content: "";
    background: url("../img/icons/arrow-bottom.svg") no-repeat 50% 50% / 1em 1em;
    width: 0.8em;
    height: 0.8em;
    transform: rotate(90deg);
  }

  &__arrow-right {
    content: "";
    background: url("../img/icons/arrow-bottom.svg") no-repeat 50% 50% / 1em 1em;
    width: 0.8em;
    height: 0.8em;
    transform: rotate(-90deg);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: rem(13);
  }

  &__link {
    width: rem(34);
    height: rem(34);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &._active {
      background-color: $orange;
      color: $white;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $orange;
        color: $white;
      }
    }
  }
}
