<section class="articles-module">
  <div class="articles-module__container container">
    <h2 class="articles-module__title">Наши статьи</h2>
    <div class="articles-module__items">
      <article class="articles-module__item item-article">
        <a class="item-article__img-ibg" href="images">
          <img src="img/articles-module/01.jpg" alt="image" />
        </a>
        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Всё о ножах: как правильно выбирать</a>
          </h4>
          <div class="item-article__data">24.07.2019</div>
        </div>
      </article>
      <article class="articles-module__item item-article">
        <a class="item-article__img-ibg" href="images">
          <img src="img/articles-module/02.jpg" alt="image" />
        </a>
        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Как правильно выбирать фонарь</a>
          </h4>
          <div class="item-article__data">24.07.2019</div>
        </div>
      </article>
      <article class="articles-module__item item-article">
        <a class="item-article__img-ibg" href="images">
          <img src="img/articles-module/03.jpg" alt="image" />
        </a>
        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Кухонные ножи для хозяек</a>
          </h4>
          <div class="item-article__data">24.07.2019</div>
        </div>
      </article>
      <article class="articles-module__item item-article">
        <a class="item-article__img-ibg" href="images">
          <img src="img/articles-module/04.jpg" alt="image" />
        </a>
        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Кухонные ножи для хозяек</a>
          </h4>
          <div class="item-article__data">24.07.2019</div>
        </div>
      </article>
    </div>
  </div>
</section>
