<section class="catalog-cards">
  <div class="catalog-cards__container container">
    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title">
          <a class="item-catalog-cards__link-title" href="#">Каталог ножей</a>
        </h3>
        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Разделочные</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Туристические</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Охотничьи</a>
          </li>
        </ul>
      </div>
      <div class="item-catalog-cards__img">
        <img src="img/catalog-cards/01.jpg" alt="image" />
      </div>
    </div>
    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title">
          <a class="item-catalog-cards__link-title" href="#">среднеклинковое оружие</a>
        </h3>
        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Разделочные</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Туристические</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Охотничьи</a>
          </li>
        </ul>
      </div>
      <div class="item-catalog-cards__img">
        <img src="img/catalog-cards/02.jpg" alt="image" />
      </div>
    </div>
    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title">
          <a class="item-catalog-cards__link-title" href="#">Длинноклинковое оружие</a>
        </h3>
        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Разделочные</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Туристические</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Охотничьи</a>
          </li>
        </ul>
      </div>
      <div class="item-catalog-cards__img">
        <img src="img/catalog-cards/03.jpg" alt="image" />
      </div>
    </div>
    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title">
          <a class="item-catalog-cards__link-title" href="#">Сувенирные изделия</a>
        </h3>
        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Разделочные</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Туристические</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Охотничьи</a>
          </li>
        </ul>
      </div>
      <div class="item-catalog-cards__img">
        <img src="img/catalog-cards/04.jpg" alt="image" />
      </div>
    </div>
    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title">
          <a class="item-catalog-cards__link-title" href="#">Сопутствующие товары</a>
        </h3>
        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Разделочные</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Туристические</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Охотничьи</a>
          </li>
        </ul>
      </div>
      <div class="item-catalog-cards__img">
        <img src="img/catalog-cards/05.jpg" alt="image" />
      </div>
    </div>
    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title">
          <a class="item-catalog-cards__link-title" href="#">Ножевая мастерская</a>
        </h3>
        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Разделочные</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Туристические</a>
          </li>
          <li class="item-catalog-cards__item">
            <a class="item-catalog-cards__link" href="#">Охотничьи</a>
          </li>
        </ul>
      </div>
      <div class="item-catalog-cards__img">
        <img src="img/catalog-cards/06.jpg" alt="image" />
      </div>
    </div>
  </div>
</section>
