<section class="catalog-block">
  <div class="catalog-block__container container">
    <div data-spollers="992" class="catalog__body">
      <div class="catalog__filter filter-catalog">
        <button type="button" data-spoller class="filter-catalog__title">Фильтер товаров</button>
        <div data-spollers class="filter-catalog__items">
          <div class="filter-catalog__price price-filter">
            <button type="button" data-spoller class="price-filter__title icon-arrow-spoller">Цена</button>
            <div data-range class="price-filter__body">
              <div class="price-filter__inputs">
                <input data-range-from="0" class="price-filter__input" value="500" type="text" autocomplete="off" name="form[]" />
                <input data-range-to="5000" class="price-filter__input" value="1000" type="text" autocomplete="off" name="form[]" />
              </div>
              <div data-range-item class="price-filter__range"></div>
            </div>
          </div>
          <div class="filter-catalog__item item-filter-catalog">
            <button type="button" data-spoller class="item-filter-catalog__title icon-arrow-spoller">Производство</button>
            <div class="item-filter-catalog__body">
              <div class="item-filter-catalog__checkbox checkbox">
                <div class="spollers__item">
                  <input id="c_1" class="checkbox__input" data-error="Error" type="checkbox" value="1" name="form[]"></input>
                  <label for="c_1" class="checkbox__label"><span class="checkbox__text">АиР <small>(250)</small></span></label>
                </div>
              </div>
              <div class="item-filter-catalog__checkbox checkbox">
                <div class="spollers__item">
                  <input id="c_2" class="checkbox__input" data-error="Error" type="checkbox" value="1" name="form[]"></input>
                  <label for="c_2" class="checkbox__label"><span class="checkbox__text">Булат Сергея Баранова <small>(35)</small></span></label>
                </div>
              </div>
              <div class="item-filter-catalog__checkbox checkbox">
                <div class="spollers__item">
                  <input id="c_3" class="checkbox__input" data-error="Error" type="checkbox" value="1" name="form[]"></input>
                  <label for="c_3" class="checkbox__label"><span class="checkbox__text">АиР <small>(250)</small></span></label>
                </div>
              </div>
              <div class="item-filter-catalog__checkbox checkbox">
                <div class="spollers__item">
                  <input id="c_4" class="checkbox__input" data-error="Error" type="checkbox" value="1" name="form[]"></input>
                  <label for="c_4" class="checkbox__label"><span class="checkbox__text">АиР <small>(250)</small></span></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="catalog__content">
        <div class="catalog__control">
          <select name="form[]" class="control">
            <option value="1" selected>По популярности</option>
            <option value="2">По популярности</option>
            <option value="3">По популярности</option>
            <option value="4">По популярности</option>
          </select>
        </div>
        <div class="catalog__products">
          <article class="product-card">
            <div class="product-card__sale">50%</div>
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="card">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="card">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card__img-ibg product-card__img-igb-contain">
              <img src="@img-card" alt="image" />
            </div>
            <div class="product-card__body">
              <h4 class="product-card__title">
                <a class="product-card__link-title" href="#">Нож Лиса</a>
              </h4>
              <div class="product-card__info info-product-card">
                <div class="info-product-card__size">95х18</div>
                <div class="info-product-card__materials">Орех, Аллюминий</div>
              </div>
              <div data-ajax="true" class="product-card__rating rating rating-set">
                <div class="rating__body">
                  <div class="rating__active"></div>
                  <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating" />
                    <input type="radio" class="rating__item" value="2" name="rating" />
                    <input type="radio" class="rating__item" value="3" name="rating" />
                    <input type="radio" class="rating__item" value="4" name="rating" />
                    <input type="radio" class="rating__item" value="5" name="rating" />
                  </div>
                </div>
                <div class="rating__value">3.6</div>
                <div class="rating__info">12 отзывов</div>
              </div>
              <div class="product-card__footer">
                <div class="product-card__price">2 719 р.</div>
                <a class="product-card__compare" href="#">
                  <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
                </a>
                <a class="product-card__favorite" href="#">
                  <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
                </a>
              </div>
              <button type="button" class="product-card__cart button">
                <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                В корзину
              </button>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="catalog__footer">
      <a class="catalog__more button button-border" href="#">Показать больше</a>
      <div class="catalog__pagging pagging">
        <button disabled class="pagging__arrow pagging__arrow-left icon-arrow-bottom"></button>
        <ul class="pagging__list">
          <li class="pagging__item">
            <a class="pagging__link _active" href="#">1</a>
          </li>
          <li class="pagging__item">
            <a class="pagging__link" href="#">2</a>
          </li>
          <li class="pagging__item">
            <a class="pagging__link" href="#">3</a>
          </li>
          <li class="pagging__item">
            <a class="pagging__link" href="#">...</a>
          </li>
          <li class="pagging__item">
            <a class="pagging__link" href="#">15</a>
          </li>
        </ul>
        <button class="pagging__arrow pagging__arrow-right icon-arrow-bottom"></button>
      </div>
    </div>
  </div>
</section>
