<footer class="footer">
  <section class="footer__text text-footer">
    <div class="text-footer__container container">
      <h1 class="text-footer__title">Злаутовские ножи интернет-магазин "ЗЛАТМАКС"</h1>
      <div class="text-footer__text">
        Наш интернет-магазин "ЗЛАТМАКС" предлагает Вам ножи очень высокого качества из города оружейников - Златоуста. Златоустовские ножи известны и популярны среди потребителей как на российским рынке, так и за рубежом: ножи охотничьи, хозяйственные, туристические, рыбацкие, складные и
        метательные. Нож Златоуста - это идеальный друг и товарищ в повседневной жизни и в экстремальных ситуациях. На многую продукцию распространяется гарантия до 10 лет - это один из главных показателей качества. Для Вас на нашем сайте "zlatmax" предложен огромный ассортимент Златоустовских
        ножей. Наши менеджеры помогут определиться и подобрать самый лучший Златоустовский нож, ориентируясь на Ваши пожелания.
      </div>
    </div>
  </section>
  <div class="footer__container container">
    <div class="footer__body body-footer">
      <div class="body-footer__row">
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" tabindex="=-1" data-spoller class="spoller-item-footer__title">ИНФОРМАЦИЯ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Златоустовские ножи в Москве и Московской области</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Ножевые стали</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">О нас</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Условия оплаты и доставки</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Политика конфиденциальности</a>
                    </li>
                  </ul>
                </nav>
                <ul class="social-footer">
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="img/icons/social/facebook.png" alt="social">
                    </a>
                  </li>
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="img/icons/social/viber.png" alt="social">
                    </a>
                  </li>
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="img/icons/social/telegram.png" alt="social">
                    </a>
                  </li>
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="img/icons/social/whatsapp.png" alt="social">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" data-spoller class="spoller-item-footer__title">СЛУЖБА ПОДДЕРЖКИ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Контактная информация</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Возврат товара</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Карта сайта</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" data-spoller class="spoller-item-footer__title">ДОПОЛНИТЕЛЬНО</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Подарочные сертификаты</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Партнеры</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Товары со скидкой</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" data-spoller class="spoller-item-footer__title">ЛИЧНЫЙ КАБИНЕТ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Личный кабинет</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">История заказов</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Мои закладки</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Рассылка новостей</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-footer__row">
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" tabindex="=-1" data-spoller class="spoller-item-footer__title">ИНФОРМАЦИЯ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list list-with-icons">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link icon-footer-phone" href="tel:88007774967">8 (800) 777-49-67</a>
                    </li>
                    <li class="menu-footer__item icon-footer-clock">
                      <div>
                        <p>Пн-пт</p>
                        <p>7:00 - 16:00 (МСК)</p>
                      </div>
                    </li>
                    <li class="menu-footer__item icon-footer-location">
                      <div>
                        <p>Златоуст,</p>
                        <p>ул. Шоссейная,</p>
                        <p>д. 1, офис "6Б"</p>
                      </div>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link icon-footer-email" href="mailto:info@zlatmax.ru">info@zlatmax.ru</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" data-spoller class="spoller-item-footer__title">ПОЛЕЗНЫЕ ССЫЛКИ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Способы оплаты и доставки</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" data-spoller class="spoller-item-footer__title">НАША ГАРАНТИЯ</button>
              <div class="spoller-item-footer__body">
                <div class="spoller-item-footer__text" href="#">
                  <p>Недовольны своей покупкой?</p>
                  <p>Вы можете вернуть ее в течении</p>
                  <p>30 дней с даты получения,</p>
                  <p>согласно <a href="#"> нашим правилам</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="body-footer__item item-footer">
          <div data-spollers="767.92" class="item-footer__spoller spoller-item-footer">
            <div class="spoller-item-footer__item">
              <button type="button" data-spoller class="spoller-item-footer__title">НОВОСТНАЯ РАССЫЛКА</button>
              <form action="#" class="spoller-item-footer__body footer-subscribe">
                <label class="footer-subscribe__label" for="subscribe-input">Подпишитесь прямо сейчас!</label>
                <div class="footer-subscribe__line">
                  <input id="subscribe-input" type="text" autocomplete="off" name="form[]" data-error="Error" data-required="email" placeholder="zlatmax@gmal.com" class="footer-subscribe__input" />
                  <button class="footer-subscribe__button icon-arrow-bottom">
                    <svg class="footer-subscribe__arrow-bottom-img icon-svg" alt="arrow-bottom"><use xlink:href="img/sprite.svg#arrow-bottom"></use></svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="body-footer__bottom">
        <div class="body-footer__rules">
          Все материалы, размещенные на сайте, носят справочный характер и не являются
          публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации.
          При копировании материалов гиперссылка на www.zlatmax.ru обязательна!
        </div>
        <div class="body-footer__copy">
          Златоустовские ножи <span> www.zlatmax.ru ©</span>
        </div>
      </div>
    </div>
  </div>
</footer
