<section class="page-slider__main-block main-block">
  <div class="main-block__container container">
    <div class="main-block__body">
      <div class="main-block__slider slider">
        <di v class="main-block__swiper my-swiper">
          <div class="main-block__slide slide slide-main-block">
            <div class="slide-main-block__content">
              <h2 data-swiper-parallax="-100" class="slide-main-block__title">Интернет магазин сертифицированных</h2>
              <div data-swiper-parallax="-150" class="slide-main-block__sub-title">златоустовских ножей</div>
              <div data-swiper-parallax="-200" class="slide-main-block__text">Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.</div>
            </div>
            <a data-swiper-parallax="-300" class="slide-main-block__button button" href="">Подробнее</a>
          </div>
          <div class="main-block__slide slide slide-main-block">
            <div class="slide-main-block__content">
              <h2 data-swiper-parallax="-100" class="slide-main-block__title">Интернет магазин сертифицированных</h2>
              <div data-swiper-parallax="-150" class="slide-main-block__sub-title">златоустовских ножей</div>
              <div data-swiper-parallax="-200" class="slide-main-block__text">Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.</div>
            </div>
            <a data-swiper-parallax="-300" class="slide-main-block__button button" href="">Подробнее</a>
          </div>
          <div class="main-block__slide slide slide-main-block">
            <div class="slide-main-block__content">
              <h2 data-swiper-parallax="-100" class="slide-main-block__title">Интернет магазин сертифицированных</h2>
              <div data-swiper-parallax="-150" class="slide-main-block__sub-title">златоустовских ножей</div>
              <div data-swiper-parallax="-200" class="slide-main-block__text">Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.</div>
            </div>
            <a data-swiper-parallax="-300" class="slide-main-block__button button" href="">Подробнее</a>
          </div>
        </di>
        <div class="main-block__controll controll-main-block">
          <div class="controll-main-block__dotts slider-dotts"></div>
          <div class="controll-main-block__fraction fraction-controll"><span class="fraction-controll__current">01</span> / <span class="fraction-controll__all">0</span></div>
        </div>
      </div>
      <div class="main-block__media media-main-block">
        <div class="media-main-block__body">
          <div class="media-main-block__image">
            <img src="img/slider/brush-stand.png" alt="image" />
          </div>
          <div class="media-main-block__tips">
            <div data-tippy-content="Подсказка" class="media-main-block__tip media-main-block__tip-1" title="Подсказка"><span>+</span></div>
            <div data-tippy-content="Подсказка" class="media-main-block__tip media-main-block__tip-2"><span>+</span></div>
            <div data-tippy-content="Подсказка" class="media-main-block__tip media-main-block__tip-3"><span>+</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-block__advantages advantages-main">
      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="img/slider/icons/guarantee.svg" alt="image" />
        </div>
        <div class="advantages-main__text">Гарантия 100% возврата денежных средств</div>
      </div>
      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="img/slider/icons/delivery.svg" alt="image" />
        </div>
        <div class="advantages-main__text">Доставка по России, Казахстану и Белоруссии</div>
      </div>
      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="img/slider/icons/ordering.svg" alt="image" />
        </div>
        <div class="advantages-main__text">Возможность оформление заказа без регистрации.</div>
      </div>
      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="img/slider/icons/discount.svg" alt="image" />
        </div>
        <div class="advantages-main__text">Скидки постоянным покупателям.</div>
      </div>
    </div>
  </div>
</section>
