<section class="products-block">
  <div class="products-block__container container">
    <div class="products-block__item product-block">
      <div class="product-block__body">
        <h4 class="product-block__title">
          <a class="product-block__link-title" href="#">Тактические фонари</a>
          <div class="product-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          <a class="product-block__button button" href="">Подробнее</a>
        </h4>
      </div>
      <div class="product-block__img">
        <img src="img/products-blocks/01.png" alt="image"/>
      </div>
    </div>
    <div class="products-block__item product-block">
      <div class="product-block__body">
        <h4 class="product-block__title">
          <a class="product-block__link-title" href="#">Налобные мультифонари</a>
          <div class="product-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          <a class="product-block__button button" href="">Подробнее</a>
        </h4>
      </div>
      <div class="product-block__img">
        <img src="img/products-blocks/02.png" alt="image"/>
      </div>
    </div>
  </div>
</section>
