<section class="product-block">
  <div class="product-block__container container">
    <div class="product-block__inner">
      <div class="product-block__images-sliders images-product-block-sliders">
        <div class="product-block__images images-product-block">
          <div class="images-product-block-slider__slider slider">
            <div class="images-product-block__swiper my-swiper">
              <div class="images-product-block-slider__slide-ibg slide">
                <img class="slide-img" src="img/product-block/01.jpg" alt="image" />
              </div>
              <div class="images-product-slider__slide-ibg slide">
                <img class="slide-img" src="img/product-block/01.jpg" alt="image" />
              </div>
              <div class="images-product-slider__slide-ibg slide">
                <img class="slide-img" src="img/product-block/01.jpg" alt="image" />
              </div>
              <div class="images-product-slider__slide-ibg slide">
                <img class="slide-img" src="img/product-block/01.jpg" alt="image" />
              </div>
              <div class="images-product-slider__slide-ibg slide">
                <img class="slide-img" src="img/product-block/01.jpg" alt="image" />
              </div>
            </div>
          </div>
        </div>
        <div class="thumbs-images__slider thumbs-images-block">
          <div class="images-product-slider__thumbs thumbs-images slider">
            <div class="thumbs-images__swiper my-swiper">
              <div class="thumbs-images__slide-ibg slide">
                <img src="img/product-block/05.jpg" alt="image" />
              </div>
              <div class="thumbs-images__slide-ibg slide">
                <img src="img/product-block/02.jpg" alt="image" />
              </div>
              <div class="thumbs-images__slide-ibg slide">
                <img src="img/product-block/03.jpg" alt="image" />
              </div>
              <div class="thumbs-images__slide-ibg slide">
                <img src="img/product-block/04.jpg" alt="image" />
              </div>
              <div class="thumbs-images__slide-ibg slide">
                <img src="img/product-block/05.jpg" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-block__body body-product-block">
        <div class="product-block__header header-product-block">
          <div class="header-product-block__line">
            <h1 class="header-product-block__title">Нож Снегирь</h1>
            <a class="product-card__compare" href="#">
              <svg class="product-card__compare-img icon-svg" alt="compare"><use xlink:href="img/sprite.svg#compare"></use></svg>
            </a>
            <a class="product-card__favorite" href="#">
              <svg class="product-card__favorite-img icon-svg" alt="favorite"><use xlink:href="img/sprite.svg#favorite"></use></svg>
            </a>
          </div>
          <div class="header-product__rating rating rating-set">
            <div class="rating__body">
              <div class="rating__active"></div>
              <div class="rating__items">
                <input type="radio" class="rating__item" value="1" name="rating" />
                <input type="radio" class="rating__item" value="2" name="rating" />
                <input type="radio" class="rating__item" value="3" name="rating" />
                <input type="radio" class="rating__item" value="4" name="rating" />
                <input type="radio" class="rating__item" value="5" name="rating" />
              </div>
            </div>
            <div hide class="rating__value">3.6</div>
          </div>
        </div>
        <div class="body-product-block__table table-product-block">
          <div class="table-product-block__label">Артикул:</div>
          <div class="table-product-block__value">AF0000001952</div>
          <div class="table-product-block__label">Торговая марка:</div>
          <div class="table-product-block__value">WUESTHOF (Германия)</div>
          <div class="table-product-block__label">Серия:</div>
          <div class="table-product-block__value">Ножи серии Classic Ikon</div>
          <div class="table-product-block__label">Бонусные баллы:</div>
          <div class="table-product-block__value">38</div>
        </div>
        <div class="body-product-block__options options-product-block">
          <div class="options-product-block__label">Сталь</div>
          <div class="options-product-block__value">
            <select name="form[]" class="form">
              <option value="1" selected>Выбрать сталь</option>
              <option value="2">Выбрать сталь</option>
              <option value="3">Выбрать сталь</option>
              <option value="4">Выбрать сталь</option>
            </select>
          <div class="options-product-block__label">Рукоять</div>
          <div class="options-product-block__value">
            <select name="form[]" class="form">
              <option value="1" selected>Выбрать рукоять</option>
              <option value="2">Выбрать рукоять</option>
              <option value="3">Выбрать рукоять</option>
              <option value="4">Выбрать рукоять</option>
            </select>
          <div class="options-product-block__label">Обработка клинка</div>
          <div class="options-product-block__value">
            <select name="form[]" class="form">
              <option value="1" selected>Выбрать обработку клинка</option>
              <option value="2">Выбрать обработку клинка</option>
              <option value="3">Выбрать обработку клинка</option>
              <option value="4">Выбрать обработку клинка</option>
            </select>
          </div>
        </div>
        <div class="body-product-block__actions actions-product-block">
          <div class="actions-product-block__price price-value">3 865</div>
          <div class="actions-product-block__row">
            <div class="actions-product-block__quantity quantity">
              <button type="button" class="quantity__button quantity__button-plus">+</button>
              <input class="quantity__input" autocomplete="off" type="text" name="form[]" value="1" />
              <button type="button" class="quantity__button quantity__button-minus">-</button>
            </div>
            <div class="actions-product-block__buttons">
              <a class="actions-product-block__cart button">
                <span class="icon-cart">
                  <svg class="cart-header__icon-img icon-svg icon-cart-btn" alt="cart">
                    <use xlink:href="img/sprite.svg#cart"></use></svg>В корзину</span></a>
              <a class="actions-product-block__cart button button-black">Купить в 1 клик</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="product-block-info tabs" data-tabs="tab">
      <ul class="product-block-block-info__navigations tabs__nav">
        <li class="tabs__nav-item"><button class="product-block-info__title tab-active tabs__nav-btn tabs__nav-btn--active" type="button">Описание</button></li>
        <li class="tabs__nav-item"><button class="product-block-info__title tabs__nav-btn" type="button">Характеристика</button></li>
        <li class="tabs__nav-item"><button class="product-block-info__title tabs__nav-btn" type="button">Отзывы</button></li>
        <li class="tabs__nav-item"><button class="product-block-info__title tabs__nav-btn" type="button">Доставка</button></li>
      </ul>
      <div class="product-block-info__content tabs__content">
        <div class="product-block-info__body tabs__panel">Легкий удобный нож с клинком, имеющим пологие вогнутые линзовидные спуски на две трети ширины клинка, образующие тонкое, прекрасно режущее лезвие толщиной около 0,6 мм в районе подводов.</div>
        <div class="product-block-info__body tabs__panel">Обух клинка со спинкой рукояти имеет одну плавную дугообразную линию. На пяте перед рукоятью есть подпальцевый вырез для точных работ. </div>
        <div class="product-block-info__body tabs__panel">Необходимо проявлять некоторую осторожность при работе с большими боковыми нагрузками на лезвие ножа, ввиду небольшой толщины клинка в рабочей части. </div>
        <div class="product-block-info__body tabs__panel">Монтаж рукояти накладной плашечный. На навершии рукояти, функцию которого выполняет выступающий из под плашек хвостовик, имеется отверстие под темляк. Этот нож удобный помощник при работе с продуктами и охоте на боровую и водоплавающую дичь.</div>
      </div>
    </div>
  </div>
</section>
