// библиотеки
@use "sass:math";
// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "functions";
@import "global";
@import "index";

// подключения компонентов страницы
@import "./components/button";
@import "./components/paggging";
@import "./components/header";
@import "./components/catalog";
@import "./components/slider";
@import "./components/main-block-slider";
@import "./components/catalog-cards";
@import "./components/products-slider";
@import "./components/products-new";
@import "./components/articles-module";
@import "./components/products-block";
@import "./components/catalog-block";
@import "./components/breadcrumbs-block";
@import "./components/product-block";
@import "./components/footer";
